{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}

<br />
<br />
{% endif %}


<h1>Login</h1>

<form method="POST" action="{% url 'login' %}"
<!-- This is for security reasons -->
<!-- Post request as opposed to get request -->
{% csrf_token %}
Username:
<br />
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password"
<br />
<br />
<br />
<input class="btn btn-primary" type="submit" value="Login"/>



</form>


{% endblock %}
