{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}

<br />
<br />
{% endif %}


<h1>Signup!</h1>

<form method="POST" action="{% url 'signup' %}"
<!-- This is for security reasons -->
<!-- Post request as opposed to get request -->
{% csrf_token %}
Username:
<br />
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password1"
<br />
<br />
Confirm Password:
<br />
<input type="password" name="password2"/>
<br />
<br />
<input class="btn btn-primary" type="submit" value="Sign Up!"/>



</form>


{% endblock %}
